.characterSelect {
    border:solid black;
    background-color: cadetblue;
    display:flex;
    justify-content: space-evenly;

}
.player1 {
    border:solid rgb(0, 0, 0);
}
.player1:hover {
    height:220px;
    border:solid rgb(231, 13, 13);
}
.player2 {
    border:solid black;
}
.player2:hover {
    height:220px;
    border:solid rgb(231, 13, 13);
}
.playerBox {
    border:solid black;
}